* {
  box-sizing: border-box;
}

body {
  margin: auto;
}

.title {
  top: 2vh;
  display: block;
  font-size: 5.1vw;
  text-align: center;
  font-weight: 600;
  margin-bottom: 4vh;
}

.sub-title {
  font-size: 1.5vw;
  font-weight: 400;
}

.content {
  font-size: 1vw;
  font-weight: 400;
  margin: .2vw; 
}

.openSans {
  font-family: 'Open Sans', sans-serif;
}

.angular-google-map-container {
  margin: 1vw;
  width: 50vw;
  height: 50vh;
}

form {
  font-weight: 400;
}

.formInput {
  min-height: 20px;
  height: 3vh;
  /*height: 2vh;*/
  width: 30vw;
}

li {
  list-style-type: none;
  margin-top: 3vh;
  font-weight: 400;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li div {
  margin: 1vh;
}

#submit {
  height: 95vh;
  display: flex;
}

#submit * {
  margin: auto;
}

#resources {
  height: 100vh;
  width: 50vw;
  overflow-y: auto;
}

.hide{
  transition: .5s linear all;
  opacity: 0;
}

.show{
  transition: .5s linear all;
  opacity: 1;
}
.container {
  height:97vh;
  width:46vw;
  position:relative;
  overflow:hidden;
  margin: 0 1vw 0 0;
}

.container .item {
  position:absolute;
  top:0;
  left:0;
  right:0;
}

.swap-animation.ng-enter, .swap-animation.ng-leave {
  transition:0.7s linear all;
  opacity: 1;
}
.swap-animation.ng-enter {
  top:-97vh;
}
.swap-animation.ng-enter-active {
  top:0px;
}
.swap-animation.ng-leave {
  top:0px;
}
.swap-animation.ng-leave-active {
  transition:0.6s linear all;
  opacity: 0;
  top: 97vh;
}

#login {
  display: absolute;
  background: url(img/artsfon.com-53173.jpg) no-repeat center fixed;
  -webkit-background-size: cover !important;
}
