<div>
  <form id='submit' class='openSans' ng-submit='ctrl.submit(ctrl.addr)'>
      <md-input-container>
        <label>Enter Your Store's Location</label>
        <input ng-model='ctrl.addr' type='text' length="300px" autofocus required/>
      <md-input-container>

    <footer>
      <md-button md-no-ink class=" md-primary footer-button" ng-click='ctrl.submit(ctrl.addr);'>Submit</md-button>
      <div class='asterisk'>
        Best suited in Belltown, Downtown, Capital Hill, Central District, or Pioneer Square
      </div>
    </footer>
  </form>
</div>
